<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crear</title>
</head>
<body>

<h1>Crear estudiante</h1>

<form th:action="@{/students/save}" method="post">

<input type="text" name="name" placeholder="Nombre">

<br><br>

<input type="number" name="age" placeholder="Edad">

<br><br>

<input type="email" name="email" placeholder="Correo">

<br><br>

<input type="text" name="career" placeholder="Carrera">

<br><br>

<button type="submit">
Guardar
</button>

</form>

</body>
</html>