<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Estudiantes</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Lista de estudiantes</h1>

<a th:href="@{/students/new}">
Crear estudiante
</a>

<br><br>

<table>

<thead>
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Edad</th>
<th>Correo</th>
<th>Carrera</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

<tr th:each="student : ${students}">

<td th:text="${student.id}"></td>
<td th:text="${student.name}"></td>
<td th:text="${student.age}"></td>
<td th:text="${student.email}"></td>
<td th:text="${student.career}"></td>

<td>

<a th:href="@{/students/edit/{id}(id=${student.id})}">
Editar
</a>

<a th:href="@{/students/delete/{id}(id=${student.id})}">
Eliminar
</a>

</td>

</tr>

</tbody>

</table>

</body>
</html>